html, body{
    margin: 0%;
    height: 120vh;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(105, 61, 3);
    color:wheat;
    width: 100%;

 }


.botones-header{
    display: flex;
    align-items: center;
    justify-content: center;
   
     
}
.estilos-botones-header{
    height: 30px;
    border: solid rgb(105, 61, 3);
    background-color:rgb(105, 61, 3);
    color: wheat;
    font-size: 16px;
    margin:8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


}
.estilos-botones-header:active{
    background-color:rgb(116, 67, 4) ;
}
.estilos-botones-header:hover{
    color:white;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(146, 89, 15);
}

.contenedor-central{
    margin-top: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-superior-inferior{
    width: 400px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.espacio-de-meme{
    width: 400px;
    height: 250px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin: 0%;
    background-color:rgb(92, 54, 4);
    color: wheat;
   
}

/* seccion formulario imagen */

.formulario-imagen-derecha{
    height: 120vh;
    width: 250px;
    background-color:rgb(92, 54, 4);
    }
.estilo-formulario{
    display: flex;
    flex-direction: column;

    }
.label-tamaño{
        margin: 3px;
        width: 200px;
    }
form{
     display: flex;
     flex-direction: column;
    
    }
 .tamaño-fondo-color{
    
     width: 100px;
     height: 30px;
     
 }


.range-imagen{ 
    display: flex;
    flex-direction: column;
    width: 200px;
    margin:3px;

}

.boton-reestablecer-filtros{
    margin: 6px;
    
    width: 150px;
    height: 40px;
    color:wheat;
    background-color:rgb(92, 54, 4);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.boton-reestablecer-filtros:hover{
    background-color:rgb(110, 65, 5);
    color:white;
 
 }


/* seccion formulario texto */


.formulario-texto-derecha{
    height: 120vh;
    width: 250px;
    background-color:rgb(92, 54, 4);
  
}
textarea{
    width: 200px;
    margin:0px 3px;
}

.estilo-superior-inferior{
    margin-top:0px;
    margin-bottom:10px;
    font-size: 14px;
}
.estilo-ancho-margen{
    width: 200px;
    margin:3px 3px 10px 3px;

}
.tamaño-type-number{
    width: 87px;

}
.botones-contorno{
    width: 65px;
    height: 30px;
}

 .contenedor{
     margin: 6px;
     display: flex;
 }
.cajas-color-fondo{
    margin: 0%;
    display: flex;
    flex-direction: column;
   
}