html, body{
    margin: 0%;
    height: 120vh;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(105, 61, 3);
    color:wheat;
    width: 100%;

 }


.botones-header{
    display: flex;
    align-items: center;
    justify-content: center;
   
     
}
.estilos-botones-header{
    height: 30px;
    border: solid rgb(105, 61, 3);
    background-color:rgb(105, 61, 3);
    color: wheat;
    font-size: 16px;
    margin:8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


}
.estilos-botones-header:active{
    background-color:rgb(116, 67, 4) ;
}
.estilos-botones-header:hover{
    color:white;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(146, 89, 15);
}

.contenedor-central{
    margin-top: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-superior-inferior{
    width: 400px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.espacio-de-meme{
    width: 400px;
    height: 250px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-texto-derecha{
   
    height: 120vh;
    width: 300px;
  
}
form{
    display: flex;
   flex-direction: column;
}
    
