html, body{
    margin: 0%; 
}




header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(105, 61, 3);
    color:wheat;
    
    width: 100%;

 }
.botones-header{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.estilos-botones-header{
    height: 30px;
    border: solid rgb(105, 61, 3);
    background-color:rgb(105, 61, 3);
    color: wheat;
    font-size: 16px;
    margin:8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


}
.estilos-botones-header:active{
    background-color:rgb(116, 67, 4) ;
}
.estilos-botones-header:hover{
    color:white;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(146, 89, 15);
}

.contenedor-central{
    margin-top: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-superior-inferior{
    width: 400px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.espacio-de-meme{
    width: 400px;
    height: 250px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.boton-descargar-meme{
    height: 40px;
    border: 3px solid rgb(105, 61, 3);
    background-color:rgb(105, 61, 3);
    color: wheat;
    font-size: 16px;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 }
 .boton-descargar-meme:hover{
    background-color:rgb(110, 65, 5);
    color:white;
    border: 1px solid rgb(192, 163, 125)
    

 }



/* seccion formulario imagen */


.formulario-imagen-derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
    width: 250px;
    position:absolute;
    right: 0px;
    top: 0px;
    background-color:rgb(92, 54, 4);
    color:wheat;
    }
.estilo-formulario{
    display: flex;
    flex-direction: column;
    margin: 3px 0px 3px 0px;

    }
.label-tamaño{
        margin: 3px;
        width: 200px;
    }
form{
     display: flex;
     flex-direction: column;
    
    }
 .tamaño-fondo-color{
    
     width: 95px;
     height: 30px;
     
     
 }
 .contenedor-fondo-color{
     display: flex;
     align-items: flex-end;
 }
 .contenedor-chico-fondo-color{
  margin: 2px;
 }


.range-imagen{ 
    display: flex;
    flex-direction: column;
    width: 200px;
    margin:3px;
}

.boton-reestablecer-filtros{
    margin: 6px 0px 0px 20px;   
    width: 150px;
    height: 40px;
    color:wheat;
    background-color:rgb(92, 54, 4);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.boton-reestablecer-filtros:hover{
    background-color:rgb(110, 65, 5);
    color:white;
 
 }

 
 .contenedor-cerrar{
     width: 200px;
     display: flex;
     justify-content:flex-start;
  

 }
 .boton-cerrar-formulario{
    
    border: solid rgb(92, 54, 4); ;
    background-color:transparent;
    color:wheat;
    
    
 }
/* seccion formulario texto */


.formulario-texto-derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
    width: 250px;
    background-color:rgb(92, 54, 4);
    color:wheat;
    position:absolute;
    right: 0px;
    top: 0px;  
  
}

textarea{
    width: 200px;
    margin:0px 3px;
}

.estilo-superior-inferior{
    margin-top:0px;
    margin-bottom:10px;
    font-size: 14px;
}
.estilo-ancho-margen{
    width: 200px;
    margin:3px;

}
.tamaño-type-number{
    width: 90px;

}
.botones-contorno{
    width: 65px;
    height: 30px;
}


/* fin del formulario de texto */

/* estilos js */

.ocultar{
    display: none;
    
}
.mostrar{
    display: flex;
}


.header-claro{
    background-color:rgb(221, 172, 80);
    color:black;
}
.botones-claro{
    background-color:rgb(221, 172, 80);
    color:black;
}
.botones-claro:hover{
    color:rgb(56, 56, 56);
    background-color:rgb(221, 172, 80);
    
    
}

.main-claro{
    background-color:rgb(218, 188, 132);
    color:black

}
.seccion-claro{
    background-color: rgb(206, 161, 78);
    color:black
    

} 


